      <div class="container">
        <div class="content-formacion">
          <span class="titular">Servicio de asesoramiento personalizado dietético</span>
          <div class="texto-formacion">
            <p class="precio">Primera consulta 40 euros</p>
            <p class="texto odt">Videollamada + explicación método de trabajo</p>
            <p class="texto odt">Envío de cuestionario dietético para que rellenes con toda la información necesaria, fotos, perímetros y peso.</p>
            <p class="texto odt">Elaboración de un plan nutricional personalizado, opción de menú cerrado o abierto + consejos individualizados.</p>
            <p class="texto odt">Disponibilidad vía Whatsapp/correo para resolver dudas, cambios, etc.</p>
          </div>
          <div class="texto-formacion">
            <p class="precio">Revisiones del plan 20 euros  cada revisión (cada 3 - 4 semanas)</p>
            <p class="texto odt">Videollamada.</p>
            <p class="texto odt">Cambios en plan nutricional acorde a necesidades, preferencias.</p>
          </div>
        </div>
      </div>

