<div class="content-img">
  <img src="./beatriz.jpeg" alt="">
  <p class="titular">Mejorar tu alimentación para cuidar tu salud y sentirte bien</p>
</div>
<div class="container">
  <p class="texto odd">Mi nombre es Beatriz Navas, tengo 30 años y soy técnico superior en Dietética y enfermera. Siempre he querido ayudar a la gente a vivir con buena salud, lo hago cada día como enfermera y ahora quiero hacerlo como dietista.</p>
  <p class="texto odt">Una buena alimentación es clave para una calidad de vida óptima, es algo que me ha enseñado mi experiencia como enfermera en diversos centros sanitarios.</p>
  <p class="texto odd">Hace unos 6 años empecé a hacer deporte en el gimnasio y luego empecé CrossTraining, lo que me hizo interesarme por la nutrición deportiva.</p>
  <p class="texto odt">Alimentación y ejercicio físico van de la mano. ¿Quieres vivir muchos años? Eso está bien, ¿quieres vivir muchos años sintiéndote sano a nivel físico y mental, con unos buenos hábitos? Eso está aún mejor.</p>
  <p class="texto odd">No consiste en realizar una dieta durante un tiempo y ya está, sino en aprender a comer y saber elegir adecuadamente, por ello soy defensora de dar pautas individualizadas, flexibles, acordes a tus preferencias y hábitos.</p>
  <p class="formacion">Formación:</p>
  <div class="content-formacion">
    <div class="texto-formacion">
      - Técnico superior en dietética por instituto ITEP/MEDAC.
    </div>
    <div class="texto-formacion">
      - Máster en Nutrición Deportiva y Composición Corporal por Instituto de Posgrado ICNS (Universidad Católica de Murcia UCAM)
    </div>
    <div class="texto-formacion">
      - Graduada en Enfermería por la Universidad Autónoma de Madrid.
    </div>
  </div>
</div>
