<main class="main">
  <div class="header">
    <div class="content-title" (click)="goHome()">
      <img src="./assets/logo.png" alt="">
      <div>
        <div class="nombre">Beatriz Navas</div>
        <div class="profesion">Técnico Superior en Dietética</div>
      </div>
    </div>
    <div class="content-links">
      <a routerLink="/" class="links" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Sobre mi</a>
      <a routerLink="/servicios" class="links" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Servicios</a>
      <a routerLink="/contacto" class="links" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Contacto</a>
    </div>
  </div>
  <div class="content">
    <router-outlet />
  </div>
  <div class="footer">
    <div class="info">Si quieres mas informacion o resolver cualquier duda contacta conmigo y estaré encantada de atenderte sin nigún compromiso.</div>

    <span>
      <span><a href="https://wa.me/+34 651107351" target="_blank"><img src="./assets/whatsapp.png" alt=""></a></span>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone_iphone"></mat-icon> <a href="tel:+34 651107351">651107351</a>
    </span>

    <span><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon> {{ 'bevitamina@gmail.com' }}</span>


  </div>
</main>



